__pycache__
.ipynb_checkpoints
.DS_Store
*.ipynb
!examples/*.ipynb
examples/*.html
develop/*

# Icon
Icon?
!image/icon

# docs
src
mkdocs.sh

# pytest
.pytest_cache

# PyPI
*.egg-info
dist
build

MEMO.md