numpy==1.19.5
scipy==1.4.1
matplotlib==3.3.0
opencv-python==4.4.0.42
requests==2.24.0
Pillow==7.2.0
beautifulsoup4==4.9.1
numpy-stl==2.11.2
PyMuPDF==1.18.1
wcwidth==0.2.5
camelot-py==0.8.2
PyAutoGUI==0.9.52